# Ignore raw data files
data/
*.csv

# Ignore interactive dashboard outputs
dashboard/*.html

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
env/
ENV/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs or temporary files
*.log
*.out
*.tmp
